<%- include('../partials/header') %>

<div class="container">
        <h1 style="text-align: center; margin-top: 2rem;">Create a new Campground</h1>
        <div style="width: 40%; margin: 20px auto">
            <form action="/campgrounds" method="POST" enctype="multipart/form-data" id="campgroundForm">
                <div class="mb-2">
                    <input class="form-control" type="text" name="name" placeholder="Name">
                </div>
                <div class="mb-2">
                    <input class="form-control" type="number" name="price" placeholder="Price" min="0.00" step="0.01">
                </div>
                <div class="mb-2">
                    <input class="form-control" type="file" name="image" accept="image/*">
                </div>
                <p id="errorElement"></p>
                <div class="mb-2">
                    <textarea class="form-control" name="desc" rows="3"></textarea>
                </div>
                <div class="mb-2">
                    <button class="btn btn-lg btn-primary col-12" id="submitButton">Submit</button>
                </div>
            </form>
            <a href="/campgrounds">Go Back</a>
        </div>
</div>

<script src="/scripts/new.js"></script>

<%- include('../partials/footer') %>